[submodule "SDKS/Ruby"]
	path = SDKS/Ruby
	url = git@github.com:aspose-cad-cloud/aspose-cad-cloud-ruby.git
[submodule "SDKS/NET"]
	path = SDKS/NET
	url = git@github.com:aspose-cad-cloud/aspose-cad-cloud-dotnet.git
[submodule "SDKS/Java"]
	path = SDKS/Java
	url = git@github.com:aspose-cad-cloud/aspose-cad-cloud-java.git
[submodule "SDKS/PHP"]
	path = SDKS/PHP
	url = git@github.com:aspose-cad-cloud/aspose-cad-cloud-php.git
