[submodule "SDKs/PHP"]
	path = SDKs/PHP
	url = https://github.com/aspose-words-cloud/aspose-words-cloud-php

[submodule "SDKs/NET"]
	path = SDKs/NET
	url = https://github.com/aspose-words-cloud/aspose-words-cloud-dotnet
[submodule "SDKs/RUBY"]
	path = SDKs/RUBY
	url = https://github.com/aspose-words-cloud/aspose-words-cloud-ruby
