[submodule "SDKs/NET"]
	path = SDKs/NET
	url = https://github.com/aspose-cad-cloud/aspose-cad-cloud-dotnet
[submodule "SDKs/Java"]
	path = SDKs/Java
	url = https://github.com/aspose-cad-cloud/aspose-cad-cloud-java
