{
  "x-generator": "NSwag v12.3.1.0 (NJsonSchema v9.14.1.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Aspose.CAD Cloud API Reference",
    "version": "3.0"
  },
  "host": "api.aspose.cloud",
  "basePath": "/v3.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cad/paper-to-cad": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Convert bitmap image to DXF, DWG, DGN, DWF, DWFX, IFC, STL, STP, STEP, CGM, GLB, GLTF, DWT, IGES, PLT, CF2, OBJ, HPGL, IGS, PCL, FBX, SVG format.",
        "operationId": "PaperToCad",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "description": "Output DXF, DWG, DGN, DWF, DWFX, IFC, STL, STP, STEP, CGM, GLB, GLTF, DWT, IGES, PLT, CF2, OBJ, HPGL, IGS, PCL, FBX, SVG file format.",
            "x-nullable": true
          },
          {
            "type": "file",
            "name": "drawing",
            "in": "formData",
            "description": "Form-data file",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-operationId": "PaperToCad"
      }
    },
    "/cad/Convert": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Convert CAD drawing to DXF, DWG, DGN, DWF, DWFX, IFC, STL, STP, STEP, CGM, GLB, GLTF, DWT, IGES, PLT, CF2, OBJ, HPGL, IGS, PCL, FBX, PDF, SVG format.",
        "operationId": "Convert",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "description": "Output DXF, DWG, DGN, DWF, DWFX, IFC, STL, STP, STEP, CGM, GLB, GLTF, DWT, IGES, PLT, CF2, OBJ, HPGL, IGS, PCL, FBX, PDF, SVG, PNG, BMP, DIB, TIFF, TIF, JPEG, GIF, PSD, JPG, JPE, JIF, JFIF, PSD, WEBP, DCM, DICOM, JP2, J2K, JPF, JPM, JPG2, J2C, JPC, JPX, MJ2 , DJVU file format.",
            "x-nullable": true
          },
          {
            "type": "file",
            "name": "drawing",
            "in": "formData",
            "description": "Form-data file",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outputTypeExt",
            "in": "query",
            "description": "For output pdf format: PDF_15, PDFa_1a OR PDFa_1b. Null for another format",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-operationId": "Convert"
      }
    },
    "/cad/Watermark": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Add watermark to drawing",
        "operationId": "Watermark",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "file",
            "name": "drawing",
            "in": "formData",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "watermarkRgb",
            "in": "formData",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outputTypeExt",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-operationId": "Watermark"
      }
    },
    "/cad/ExtractText": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Extract Text from CAD drawing to txt file",
        "operationId": "ExtractText",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawing",
            "in": "formData",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-operationId": "ExtractText"
      }
    },
    "/cad/ExtractMetadata": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Extract Metadata from CAD drawing to txt, xml or json file.",
        "operationId": "ExtractMetadata",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "description": "Output TXT, XML or JSON file format.",
            "x-nullable": true
          },
          {
            "type": "file",
            "name": "drawing",
            "in": "formData",
            "description": "Form-data file",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-operationId": "ExtractMetadata"
      }
    },
    "/cad/Viewer": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Return file for viewer",
        "operationId": "Viewer",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "file",
            "name": "drawing",
            "in": "formData",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-operationId": "Viewer"
      }
    },
    "/cad/EditMetadata": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Get Metadata info",
        "operationId": "EditMetadata",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawing",
            "in": "formData",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-operationId": "EditMetadata"
      },
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Save Metadata",
        "operationId": "PutEditMetadata",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawing",
            "in": "formData",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "metadataComponent",
            "in": "formData",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-operationId": "PutEditMetadata"
      }
    },
    "/cad/{name}/bmp": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to BMP format with export settings specified.",
        "operationId": "PostDrawingBmp",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export BMP options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/BmpOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingBmp"
      }
    },
    "/cad/bmp": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to BMP format. Drawing data is passed as zero-indexed multipart/form-data as well as export BMP options serialized as JSON.\nOrder of drawing data and BMP options could vary.",
        "operationId": "PutDrawingBmp",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/BmpOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "BmpOptionsDTO",
        "x-operationId": "PutDrawingBmp"
      }
    },
    "/cad/{name}/dicom": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to Dicom format with export settings specified.",
        "operationId": "PostDrawingDicom",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export Dicom options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/DicomOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingDicom"
      }
    },
    "/cad/dicom": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to Dicom format. Drawing data is passed as zero-indexed multipart/form-data as well as export Dicom options serialized as JSON.\nOrder of drawing data and Dicom options could vary.",
        "operationId": "PutDrawingDicom",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/DicomOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "DicomOptionsDTO",
        "x-operationId": "PutDrawingDicom"
      }
    },
    "/cad/{name}/gif": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into GIF format with export settings specified.",
        "operationId": "PostDrawingGif",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export GIF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/GifOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingGif"
      }
    },
    "/cad/gif": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to GIF format. Drawing data is passed as zero-indexed multipart/form-data as well as export GIF options serialized as JSON.\nOrder of drawing data and GIF options could vary.",
        "operationId": "PutDrawingGif",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/GifOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "GifOptionsDTO",
        "x-operationId": "PutDrawingGif"
      }
    },
    "/cad/{name}/jpeg2000": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into JPEG2000 format with export settings specified.",
        "operationId": "PostDrawingJpeg2000",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export JPEG2000 options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/Jpeg2000OptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingJpeg2000"
      }
    },
    "/cad/jpeg2000": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to JPEG2000 format. Drawing data is passed as zero-indexed multipart/form-data as well as export JPEG2000 options serialized as JSON.\nOrder of drawing data and JPEG2000 options could vary.",
        "operationId": "PutDrawingJpeg2000",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/Jpeg2000OptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "Jpeg2000OptionsDTO",
        "x-operationId": "PutDrawingJpeg2000"
      }
    },
    "/cad/{name}/jpeg": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into JPEG format with export settings specified.",
        "operationId": "PostDrawingJpeg",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export JPEG options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/JpegOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingJpeg"
      }
    },
    "/cad/jpeg": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to JPEG format. Drawing data is passed as zero-indexed multipart/form-data as well as export JPEG options serialized as JSON.\nOrder of drawing data and JPEG options could vary.",
        "operationId": "PutDrawingJpeg",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/JpegOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "JpegOptionsDTO",
        "x-operationId": "PutDrawingJpeg"
      }
    },
    "/cad/{name}/png": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into PNG format with export settings specified.",
        "operationId": "PostDrawingPng",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export PNG options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/PngOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingPng"
      }
    },
    "/cad/png": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to PNG format. Drawing data is passed as zero-indexed multipart/form-data as well as export PNG options serialized as JSON.\nOrder of drawing data and PNG options could vary.",
        "operationId": "PutDrawingPng",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/PngOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "PngOptionsDTO",
        "x-operationId": "PutDrawingPng"
      }
    },
    "/cad/{name}/psd": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into PSD format with export settings specified.",
        "operationId": "PostDrawingPsd",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export PSD options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/PsdOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingPsd"
      }
    },
    "/cad/psd": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to PSD format. Drawing data is passed as zero-indexed multipart/form-data as well as export PSD options serialized as JSON.\nOrder of drawing data and PSD options could vary.",
        "operationId": "PutDrawingPsd",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/PsdOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "PsdOptionsDTO",
        "x-operationId": "PutDrawingPsd"
      }
    },
    "/cad/{name}/tiff": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into TIFF format with export settings specified.",
        "operationId": "PostDrawingTiff",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export TIFF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/TiffOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingTiff"
      }
    },
    "/cad/tiff": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to TIFF format. Drawing data is passed as zero-indexed multipart/form-data as well as export TIFF options serialized as JSON.\nOrder of drawing data and TIFF options could vary.",
        "operationId": "PutDrawingTiff",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/TiffOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "TiffOptionsDTO",
        "x-operationId": "PutDrawingTiff"
      }
    },
    "/cad/{name}/webp": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to Webp format with export settings specified.",
        "operationId": "PostDrawingWebp",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export Webp options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/WebpOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingWebp"
      }
    },
    "/cad/webp": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to Webp format. Drawing data is passed as zero-indexed multipart/form-data as well as export Webp options serialized as JSON.\nOrder of drawing data and Webp options could vary.",
        "operationId": "PutDrawingWebp",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/WebpOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "WebpOptionsDTO",
        "x-operationId": "PutDrawingWebp"
      }
    },
    "/cad/{name}/pdf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to PDF format with export settings specified.",
        "operationId": "PostDrawingPdf",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export PDF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/PdfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingPdf"
      }
    },
    "/cad/pdf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to PDF format. Drawing data is passed as zero-indexed multipart/form-data as well as export PDF options serialized as JSON.\nOrder of drawing data and PDF options could vary.",
        "operationId": "PutDrawingPdf",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/PdfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "PdfOptionsDTO",
        "x-operationId": "PutDrawingPdf"
      }
    },
    "/cad/{name}/svg": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to SVG format with export settings specified.",
        "operationId": "PostDrawingSvg",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export SVG options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/SvgOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingSvg"
      }
    },
    "/cad/svg": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to SVG format. Drawing data is passed as zero-indexed multipart/form-data as well as export SVG options serialized as JSON.\nOrder of drawing data and SVG options could vary.",
        "operationId": "PutDrawingSvg",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/SvgOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "SvgOptionsDTO",
        "x-operationId": "PutDrawingSvg"
      }
    },
    "/cad/{name}/wmf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to WMF format with export settings specified.",
        "operationId": "PostDrawingWmf",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export WMF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/WmfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingWmf"
      }
    },
    "/cad/wmf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to WMF format. Drawing data is passed as zero-indexed multipart/form-data as well as export WMF options serialized as JSON.\nOrder of drawing data and WMF options could vary.",
        "operationId": "PutDrawingWmf",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/WmfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "WmfOptionsDTO",
        "x-operationId": "PutDrawingWmf"
      }
    },
    "/cad/{name}/cgm": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to CGM format with export settings specified.",
        "operationId": "PostDrawingCgm",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export CGM options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/CgmOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingCgm"
      }
    },
    "/cad/cgm": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to CGM format. Drawing data is passed as zero-indexed multipart/form-data as well as export CGM options serialized as JSON.\nOrder of drawing data and CGM options could vary.",
        "operationId": "PutDrawingCgm",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/CgmOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "CgmOptionsDTO",
        "x-operationId": "PutDrawingCgm"
      }
    },
    "/cad/{name}/dwf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to Dwf format with export settings specified.",
        "operationId": "PostDrawingDwf",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export Dwf options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/DwfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingDwf"
      }
    },
    "/cad/dwf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to Dwf format. Drawing data is passed as zero-indexed multipart/form-data as well as export Dwf options serialized as JSON.\nOrder of drawing data and Dwf options could vary.",
        "operationId": "PutDrawingDwf",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/DwfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "DwfOptionsDTO",
        "x-operationId": "PutDrawingDwf"
      }
    },
    "/cad/{name}/dxf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to DXF format with export settings specified.",
        "operationId": "PostDrawingDXF",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export DXF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/DxfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingDXF"
      }
    },
    "/cad/dxf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to DXF format. Drawing data is passed as zero-indexed multipart/form-data as well as export DXF options serialized as JSON.\nOrder of drawing data and DXF options could vary.",
        "operationId": "PutDrawingDXF",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/DxfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "DxfOptionsDTO",
        "x-operationId": "PutDrawingDXF"
      }
    },
    "/cad/{name}/fbx": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to Fbx format with export settings specified.",
        "operationId": "PostDrawingFbx",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export Fbx options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/FbxOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingFbx"
      }
    },
    "/cad/fbx": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to Fbx format. Drawing data is passed as zero-indexed multipart/form-data as well as export Fbx options serialized as JSON.\nOrder of drawing data and Fbx options could vary.",
        "operationId": "PutDrawingFbx",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/FbxOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "FbxOptionsDTO",
        "x-operationId": "PutDrawingFbx"
      }
    },
    "/cad/{name}/glb": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to GLB format with export settings specified.",
        "operationId": "PostDrawingGlb",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export GLB options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/GlbOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingGlb"
      }
    },
    "/cad/glb": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to GLB format. Drawing data is passed as zero-indexed multipart/form-data as well as export GLB options serialized as JSON.\nOrder of drawing data and GLB options could vary.",
        "operationId": "PutDrawingGlb",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/GlbOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "GlbOptionsDTO",
        "x-operationId": "PutDrawingGlb"
      }
    },
    "/cad/{name}/gltf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to GLTF format with export settings specified.",
        "operationId": "PostDrawingGltf",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export GLTF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/GltfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingGltf"
      }
    },
    "/cad/gltf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to GLTF format. Drawing data is passed as zero-indexed multipart/form-data as well as export GLTF options serialized as JSON.\nOrder of drawing data and GLTF options could vary.",
        "operationId": "PutDrawingGltf",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/GltfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "GltfOptionsDTO",
        "x-operationId": "PutDrawingGltf"
      }
    },
    "/cad/{name}/obj": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to Obj format with export settings specified.",
        "operationId": "PostDrawingObj",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export Obj options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/ObjOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
[...]
