{
  "x-generator": "NSwag v12.3.1.0 (NJsonSchema v9.14.1.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Aspose.CAD Cloud API Reference",
    "version": "3.0"
  },
  "host": "api.aspose.cloud",
  "basePath": "/v3.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cad/{name}/bmp": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to BMP format with export settings specified.",
        "operationId": "PostDrawingBmp",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export BMP options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/BmpOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingBmp"
      }
    },
    "/cad/bmp": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to BMP format. Drawing data is passed as zero-indexed multipart/form-data as well as export BMP options serialized as JSON.\nOrder of drawing data and BMP options could vary.",
        "operationId": "PutDrawingBmp",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/BmpOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "BmpOptionsDTO",
        "x-operationId": "PutDrawingBmp"
      }
    },
    "/cad/{name}/gif": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into GIF format with export settings specified.",
        "operationId": "PostDrawingGif",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export GIF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/GifOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingGif"
      }
    },
    "/cad/gif": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to GIF format. Drawing data is passed as zero-indexed multipart/form-data as well as export GIF options serialized as JSON.\nOrder of drawing data and GIF options could vary.",
        "operationId": "PutDrawingGif",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/GifOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "GifOptionsDTO",
        "x-operationId": "PutDrawingGif"
      }
    },
    "/cad/{name}/jpeg2000": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into JPEG2000 format with export settings specified.",
        "operationId": "PostDrawingJpeg2000",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export JPEG2000 options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/Jpeg2000OptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingJpeg2000"
      }
    },
    "/cad/jpeg2000": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to JPEG2000 format. Drawing data is passed as zero-indexed multipart/form-data as well as export JPEG2000 options serialized as JSON.\nOrder of drawing data and JPEG2000 options could vary.",
        "operationId": "PutDrawingJpeg2000",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/Jpeg2000OptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "Jpeg2000OptionsDTO",
        "x-operationId": "PutDrawingJpeg2000"
      }
    },
    "/cad/{name}/jpeg": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into JPEG format with export settings specified.",
        "operationId": "PostDrawingJpeg",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export JPEG options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/JpegOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingJpeg"
      }
    },
    "/cad/jpeg": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to JPEG format. Drawing data is passed as zero-indexed multipart/form-data as well as export JPEG options serialized as JSON.\nOrder of drawing data and JPEG options could vary.",
        "operationId": "PutDrawingJpeg",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/JpegOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "JpegOptionsDTO",
        "x-operationId": "PutDrawingJpeg"
      }
    },
    "/cad/{name}/png": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into PNG format with export settings specified.",
        "operationId": "PostDrawingPng",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export PNG options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/PngOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingPng"
      }
    },
    "/cad/png": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to PNG format. Drawing data is passed as zero-indexed multipart/form-data as well as export PNG options serialized as JSON.\nOrder of drawing data and PNG options could vary.",
        "operationId": "PutDrawingPng",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/PngOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "PngOptionsDTO",
        "x-operationId": "PutDrawingPng"
      }
    },
    "/cad/{name}/psd": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into PSD format with export settings specified.",
        "operationId": "PostDrawingPsd",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export PSD options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/PsdOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingPsd"
      }
    },
    "/cad/psd": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to PSD format. Drawing data is passed as zero-indexed multipart/form-data as well as export PSD options serialized as JSON.\nOrder of drawing data and PSD options could vary.",
        "operationId": "PutDrawingPsd",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/PsdOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "PsdOptionsDTO",
        "x-operationId": "PutDrawingPsd"
      }
    },
    "/cad/{name}/tiff": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing into TIFF format with export settings specified.",
        "operationId": "PostDrawingTiff",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export TIFF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/TiffOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingTiff"
      }
    },
    "/cad/tiff": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to TIFF format. Drawing data is passed as zero-indexed multipart/form-data as well as export TIFF options serialized as JSON.\nOrder of drawing data and TIFF options could vary.",
        "operationId": "PutDrawingTiff",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/TiffOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "TiffOptionsDTO",
        "x-operationId": "PutDrawingTiff"
      }
    },
    "/cad/{name}/pdf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to PDF format with export settings specified.",
        "operationId": "PostDrawingPdf",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export PDF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/PdfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingPdf"
      }
    },
    "/cad/pdf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to PDF format. Drawing data is passed as zero-indexed multipart/form-data as well as export PDF options serialized as JSON.\nOrder of drawing data and PDF options could vary.",
        "operationId": "PutDrawingPdf",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/PdfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "PdfOptionsDTO",
        "x-operationId": "PutDrawingPdf"
      }
    },
    "/cad/{name}/svg": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to SVG format with export settings specified.",
        "operationId": "PostDrawingSvg",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export SVG options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/SvgOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingSvg"
      }
    },
    "/cad/svg": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to SVG format. Drawing data is passed as zero-indexed multipart/form-data as well as export SVG options serialized as JSON.\nOrder of drawing data and SVG options could vary.",
        "operationId": "PutDrawingSvg",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/SvgOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "SvgOptionsDTO",
        "x-operationId": "PutDrawingSvg"
      }
    },
    "/cad/{name}/wmf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to WMF format with export settings specified.",
        "operationId": "PostDrawingWmf",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export WMF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/WmfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingWmf"
      }
    },
    "/cad/wmf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to WMF format. Drawing data is passed as zero-indexed multipart/form-data as well as export WMF options serialized as JSON.\nOrder of drawing data and WMF options could vary.",
        "operationId": "PutDrawingWmf",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/WmfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "WmfOptionsDTO",
        "x-operationId": "PutDrawingWmf"
      }
    },
    "/cad/{name}/dwf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to Dwf format with export settings specified.",
        "operationId": "PostDrawingDwf",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export Dwf options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/DwfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingDwf"
      }
    },
    "/cad/dwf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to Dwf format. Drawing data is passed as zero-indexed multipart/form-data as well as export Dwf options serialized as JSON.\nOrder of drawing data and Dwf options could vary.",
        "operationId": "PutDrawingDwf",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/DwfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "DwfOptionsDTO",
        "x-operationId": "PutDrawingDwf"
      }
    },
    "/cad/{name}/dxf": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to DXF format with export settings specified.",
        "operationId": "PostDrawingDXF",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export DXF options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/DxfOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingDXF"
      }
    },
    "/cad/dxf": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to DXF format. Drawing data is passed as zero-indexed multipart/form-data as well as export DXF options serialized as JSON.\nOrder of drawing data and DXF options could vary.",
        "operationId": "PutDrawingDXF",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/DxfOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "DxfOptionsDTO",
        "x-operationId": "PutDrawingDXF"
      }
    },
    "/cad/{name}/fbx": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to Fbx format with export settings specified.",
        "operationId": "PostDrawingFbx",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export Fbx options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/FbxOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingFbx"
      }
    },
    "/cad/fbx": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to Fbx format. Drawing data is passed as zero-indexed multipart/form-data as well as export Fbx options serialized as JSON.\nOrder of drawing data and Fbx options could vary.",
        "operationId": "PutDrawingFbx",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/FbxOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "FbxOptionsDTO",
        "x-operationId": "PutDrawingFbx"
      }
    },
    "/cad/{name}/obj": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to Obj format with export settings specified.",
        "operationId": "PostDrawingObj",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "description": "Export Obj options passed as a JSON on a request body.",
            "schema": {
              "$ref": "#/definitions/ObjOptionsDTO"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingObj"
      }
    },
    "/cad/obj": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Export drawing to Obj format. Drawing data is passed as zero-indexed multipart/form-data as well as export Obj options serialized as JSON.\nOrder of drawing data and Obj options could vary.",
        "operationId": "PutDrawingObj",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "exportOptions",
            "in": "formData",
            "description": "JSON-serialized export options passed as zero-indexed multipart/form-data. Follow #/definitions/ObjOptionsDTO model definition."
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-options-input": "ObjOptionsDTO",
        "x-operationId": "PutDrawingObj"
      }
    },
    "/cad/{name}/properties": {
      "get": {
        "tags": [
          "Cad"
        ],
        "summary": "Retrieves info about an existing drawing.\n            ",
        "operationId": "GetDrawingProperties",
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to get properties for.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Information about a drawing.",
            "schema": {
              "$ref": "#/definitions/CadResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-operationId": "GetDrawingProperties"
      }
    },
    "/cad/properties": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Retrieves info about drawing which is passed as a zero-indexed multipart/form-data content or as raw body stream.",
        "operationId": "PostDrawingProperties",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Information about a drawing.",
            "schema": {
              "$ref": "#/definitions/CadResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-operationId": "PostDrawingProperties"
      }
    },
    "/cad/{name}/resize": {
      "get": {
        "tags": [
          "Cad"
        ],
        "summary": "Resize an existing drawing.",
        "operationId": "GetDrawingResize",
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of a drawing.",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "description": "Resulting file format.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "newWidth",
            "in": "query",
            "required": true,
            "description": "New width.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "newHeight",
            "in": "query",
            "required": true,
            "description": "New height.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "GetDrawingResize"
      }
    },
    "/cad/resize": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Resize a drawing. Drawing data is passed as a zero-indexed multipart/form-data content or as raw body stream.",
        "operationId": "PostDrawingResize",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "description": "Resulting file format.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "newWidth",
            "in": "query",
            "required": true,
            "description": "New width.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "newHeight",
            "in": "query",
            "required": true,
            "description": "New height.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingResize"
      }
    },
    "/cad/{name}/rotateflip": {
      "get": {
        "tags": [
          "Cad"
        ],
        "summary": "Rotate/flip an existing drawing.",
        "operationId": "GetDrawingRotateFlip",
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of a drawing.",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "description": "Resulting file format.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "rotateFlipType",
            "in": "query",
            "required": true,
            "description": "Rotate/flip operation to apply. Possible values: RotateNoneFlipNone, Rotate90FlipNone, Rotate180FlipNone, Rotate270FlipNone, RotateNoneFlipX, Rotate90FlipX, Rotate180FlipX, Rotate270FlipX, RotateNoneFlipY, Rotate90FlipY, Rotate180FlipY, Rotate270FlipY, RotateNoneFlipXY, Rotate90FlipXY, Rotate180FlipXY, Rotate270FlipXY",
            "x-schema": {},
            "x-nullable": false,
            "enum": [
              "RotateNoneFlipNone",
              "Rotate90FlipNone",
              "Rotate180FlipNone",
              "Rotate270FlipNone",
              "RotateNoneFlipX",
              "Rotate90FlipX",
              "Rotate180FlipX",
              "Rotate270FlipX",
              "RotateNoneFlipY",
              "Rotate90FlipY",
              "Rotate180FlipY",
              "Rotate270FlipY",
              "RotateNoneFlipXY",
              "Rotate90FlipXY",
              "Rotate180FlipXY",
              "Rotate270FlipXY"
            ]
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "GetDrawingRotateFlip"
      }
    },
    "/cad/rotateflip": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Rotate/flip a drawing. Drawing data is passed as a zero-indexed multipart/form-data content or as raw body stream.",
        "operationId": "PostDrawingRotateFlip",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outputFormat",
            "in": "query",
            "required": true,
            "description": "Resulting file format.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "rotateFlipType",
            "in": "query",
            "required": true,
            "description": "Rotate/flip operation to apply. Possible values: RotateNoneFlipNone, Rotate90FlipNone, Rotate180FlipNone, Rotate270FlipNone, RotateNoneFlipX, Rotate90FlipX, Rotate180FlipX, Rotate270FlipX, RotateNoneFlipY, Rotate90FlipY, Rotate180FlipY, Rotate270FlipY, RotateNoneFlipXY, Rotate90FlipXY, Rotate180FlipXY, Rotate270FlipXY",
            "x-schema": {},
            "x-nullable": false,
            "enum": [
              "RotateNoneFlipNone",
              "Rotate90FlipNone",
              "Rotate180FlipNone",
              "Rotate270FlipNone",
              "RotateNoneFlipX",
              "Rotate90FlipX",
              "Rotate180FlipX",
              "Rotate270FlipX",
              "RotateNoneFlipY",
              "Rotate90FlipY",
              "Rotate180FlipY",
              "Rotate270FlipY",
              "RotateNoneFlipXY",
              "Rotate90FlipXY",
              "Rotate180FlipXY",
              "Rotate270FlipXY"
            ]
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingRotateFlip"
      }
    },
    "/cad/{name}/saveAs/{outputFormat}": {
      "get": {
        "tags": [
          "Cad"
        ],
        "summary": "Export an existing drawing to another format.",
        "operationId": "GetDrawingSaveAs",
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Filename of an input drawing on a storage.",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "outputFormat",
            "in": "path",
            "required": true,
            "description": "Resulting file format.",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "folder",
            "in": "query",
            "description": "Folder with a drawing to process.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Input file doesn't exist at provided path."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "GetDrawingSaveAs"
      }
    },
    "/cad/saveAs/{outputFormat}": {
      "post": {
        "tags": [
          "Cad"
        ],
        "summary": "Export existing drawing to another format. Drawing data is passed as zero-indexed multipart/form-data content or as raw body stream.\n            ",
        "operationId": "PostDrawingSaveAs",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "file",
            "name": "drawingData",
            "in": "formData",
            "required": true,
            "description": "Input drawing"
          },
          {
            "type": "string",
            "name": "outputFormat",
            "in": "path",
            "required": true,
            "description": "Resulting file format.",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "outPath",
            "in": "query",
            "description": "Path to updated file (if this is empty, response contains streamed file).",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "storage",
            "in": "query",
            "description": "Your Aspose Cloud Storage name.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Data stream (if output path is not set).",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Invalid request parameters or input data."
          },
          "401": {
            "description": "Authentication failed."
          },
          "500": {
            "description": "Either current server is busy or internal error occured."
          },
          "501": {
            "description": "The specific operation is not yet supported - please, contact us if you require it."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": "true",
        "x-operationId": "PostDrawingSaveAs"
      }
    },
    "/cad/storage/file/{path}": {
      "get": {
        "tags": [
          "Cad"
        ],
        "summary": "Download file",
        "operationId": "DownloadFile",
        "produces": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "path",
            "in": "path",
            "required": true,
            "description": "File path e.g. '/folder/file.ext'",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "versionId",
            "in": "query",
            "description": "File version ID to download",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The raw data of the file.",
            "schema": {
              "type": "file"
            }
          },
          "401": {
            "description": "Authorization token is invalid or expired."
          },
          "404": {
            "description": "File for given path not found."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-operationId": "DownloadFile",
        "x-binary-result": true
      },
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Upload file",
        "operationId": "UploadFile",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "path",
            "in": "path",
            "required": true,
            "description": "Path where to upload including filename and extension e.g. /file.ext or /Folder 1/file.ext\n            If the content is multipart and path does not contains the file name it tries to get them from filename parameter\n            from Content-Disposition header.\n            ",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "x-nullable": true
          },
          {
            "type": "file",
            "name": "File",
            "in": "formData",
            "required": true,
            "description": "File to upload"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Empty error list if the upload is successful.",
            "schema": {
              "$ref": "#/definitions/FilesUploadResult"
            }
          },
          "401": {
            "description": "Authorization token is invalid or expired."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-operationId": "UploadFile"
      },
      "delete": {
        "tags": [
          "Cad"
        ],
        "summary": "Delete file",
        "operationId": "DeleteFile",
        "parameters": [
          {
            "type": "string",
            "name": "path",
            "in": "path",
            "required": true,
            "description": "File path e.g. '/folder/file.ext'",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "versionId",
            "in": "query",
            "description": "File version ID to delete",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the delete is successful."
          },
          "401": {
            "description": "Authorization token is invalid or expired"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-operationId": "DeleteFile"
      }
    },
    "/cad/storage/file/copy/{srcPath}": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Copy file",
        "operationId": "CopyFile",
        "parameters": [
          {
            "type": "string",
            "name": "srcPath",
            "in": "path",
            "required": true,
            "description": "Source file path e.g. '/folder/file.ext'",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "destPath",
            "in": "query",
            "required": true,
            "description": "Destination file path",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "srcStorageName",
            "in": "query",
            "description": "Source storage name",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "destStorageName",
            "in": "query",
            "description": "Destination storage name",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "versionId",
            "in": "query",
            "description": "File version ID to copy",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the copy is successful."
          },
          "401": {
            "description": "Authorization token is invalid or expired."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-operationId": "CopyFile"
      }
    },
    "/cad/storage/file/move/{srcPath}": {
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Move file",
        "operationId": "MoveFile",
        "parameters": [
          {
            "type": "string",
            "name": "srcPath",
            "in": "path",
            "required": true,
            "description": "Source file path e.g. '/src.ext'",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "destPath",
            "in": "query",
            "required": true,
            "description": "Destination file path e.g. '/dest.ext'",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "srcStorageName",
            "in": "query",
            "description": "Source storage name",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "destStorageName",
            "in": "query",
            "description": "Destination storage name",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "versionId",
            "in": "query",
            "description": "File version ID to move",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the move is successful."
          },
          "401": {
            "description": "Authorization token is invalid or expired."
          },
          "404": {
            "description": "File for given path not found."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-operationId": "MoveFile"
      }
    },
    "/cad/storage/folder/{path}": {
      "get": {
        "tags": [
          "Cad"
        ],
        "summary": "Get all files and folders within a folder",
        "operationId": "GetFilesList",
        "parameters": [
          {
            "type": "string",
            "name": "path",
            "in": "path",
            "required": true,
            "description": "Folder path e.g. '/folder'",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Returns all files and folders contained by the folder.",
            "schema": {
              "$ref": "#/definitions/FilesList"
            }
          },
          "401": {
            "description": "Authorization token is invalid or expired."
          },
          "404": {
            "description": "Can't find folder for given path."
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-operationId": "GetFilesList"
      },
      "put": {
        "tags": [
          "Cad"
        ],
        "summary": "Create the folder",
        "operationId": "CreateFolder",
        "parameters": [
          {
            "type": "string",
            "name": "path",
            "in": "path",
            "required": true,
            "description": "Folder path to create e.g. 'folder_1/folder_2/'",
            "x-nullable": false
          },
          {
[...]
